.plugin_tab{
    overflow:hidden;
}
.plugin_tab li{
    background:#ddd;
    border-bottom:1px solid #ddd;
    padding:5px 25px;
    float:left;
    margin-right:5px;
    cursor:pointer;
}
.plugin_tab li.select{
    background:#f1f1f1;
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #f1f1f1;
    border-left:1px solid #ddd;
}
.plugin_contents{
    clear:left;
}
.plugin_contents .plugin_content{

}
.hide {
    display:none;
}
h4.taxonomy_title{
    border-left:5px solid #666;
    background-color: #ddd;
    padding: 5px 10px;
}
.plugin_form{
    margin-bottom: 50px;
    padding:10px 20px;
    border:1px dotted #999;    
}